@page
@model IList<AddressModel>
 
@{
    ViewData["Title"] = "Saved Addresses";
    ViewData.AddActivePageManage(ManageNavPages.SavedAdresses);
}

<h4>@ViewData["Title"]</h4>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Region</th>
                <th scope="col">Street</th>
                <th scope="col">Building</th>
            </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Count; ++i)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@Model[i].Region</td>
                <td>@Model[i].Street</td>
                <td>@Model[i].BuildingNum</td>
            </tr>
        }
    
        </tbody>
        </table>

</div>
