@model MenuItemModel

@{
    ViewData["Title"] = "AddMenuItem";
}

<h2>New Menu Item</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Name")
    <br />
    @Html.EditorFor(model => model.Name)
    <br /><br />
    @Html.LabelFor(model => model.Price, "Price")
    <br />
    @Html.EditorFor(model => model.Price)
    <br /><br />
    @Html.LabelFor(model => model.Description, "Description")
    <br />
    @Html.EditorFor(model => model.Description)
    <br /><br />
    <input type="submit" value="Add" />
}

