@model List<FoodDelivery.DTO.Purchase.PurchaseDTO>
@{
    ViewData["Title"] = "AllPurchases";
}
@if (Model.Any())
{
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h3>Sort by:</h3>
                <a asp-controller="Purchase" asp-action="AllPurchases" asp-route-page="@ViewBag.CurrentPage" asp-route-priceOrder="asc" class="w-100 m-1 btn btn-outline-dark">
                    Total price ascending
                </a>
                <a asp-controller="Purchase" asp-action="AllPurchases" asp-route-page="@ViewBag.CurrentPage" asp-route-priceOrder="desc" class="w-100 m-1 btn btn-outline-dark">
                    Total price descending
                </a>
                <hr />
                <form method="get" asp-controller="Purchase" asp-action="AllPurchases" asp-route-page="@ViewBag.CurrentPage"
                      asp-route-priceOrder="@ViewBag.PriceOrder">
                    <div class="form-group">
                        <label class="control-label">Order status</label>
                        <input type="text" class="form-control" value="@ViewBag.OrderStatus" name="orderStatus" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-outline-dark w-100 m-1" />
                        <a asp-controller="Purchase" asp-action="AllPurchases" class="w-100 m-1 btn btn-outline-dark">
                            Go to full list
                        </a>
                    </div>
                </form>
            </div>
            <div class="col-lg-9">
                <h3>Your purchases</h3>
                @foreach (var item in Model)
                {
                    <div class="card card-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card-inline-cart">
                                        <div class="item-description-cart ">
                                            <p style="margin-top: 20px;">Date of submition: @item.SubmittedTime</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4">
                                    <p style="margin-top: 20px;">Total price: @item.TotalPrice$</p>
                                </div>
                                <div class="col-md-2">
                                    <a style="margin-top:10px" asp-controller="Purchase" asp-action="ItemsInSelectedPurchase" asp-route-purchaseId="@item.Id" class="btn btn-success">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        @for (var i = 1; i <= ViewBag.TotalPageCount; i++)
                        {
                            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")" style="margin-left:5px;">
                                <a asp-controller="Purchase" asp-action="AllPurchases" asp-route-page="@i" asp-route-priceOrder="@ViewBag.PriceOrder">@i</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h3>Your list of purchases is empty.</h3>
}

