@model FoodDelivery.DTO.Order.OrderDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>OrderDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" readonly />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SentTime" class="control-label"></label>
                <input asp-for="SentTime" class="form-control" readonly />
                <span asp-validation-for="SentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedTime" class="control-label"></label>
                <input asp-for="EstimatedTime" class="form-control" />
                <span asp-validation-for="EstimatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderStatus" class="control-label"></label>
                <select class="custom-select" asp-for="@Model.OrderStatus">
                    <option value="" disabled>Please choose category</option>
                    @foreach(var status in Enum.GetValues(typeof(OrderStatus)))
                    {
                        <option value="@status">@status</option>
                    }
                </select>
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <h4>Total: $@Model.TotalPrice</h4>
        @foreach (var mi in Model.OrderItems)
        {
            <div class="card mt-2">
                <h5 class="card-header">MenuItem @mi.MenuItem.Name</h5>
                <div class="card-body">
                    <img class="card-img float-left mr-5" style="width: auto; height: 150px;" src="~/@mi.MenuItem.Image" />
                    <h5 class="card-title">Count #@mi.Count</h5>
                    <p class="card-text">
                        Price per item: @mi.MenuItem.Price
                        <br />
                        Description: @mi.MenuItem.Description
                        <br />
                    </p>
                </div>
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
